<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ERP-System</title>
  </head>
  <body>
    <h1>ERP-System</h1>
    <p>
      <form action="info.html" target="_blank">
        <button>Получить информацию о заказе</button>
      </form>
    </p>
    <p>
      <form action="stockB.html" target="_blank">
        <button>Получить информацию о складских остатках</button>
      </form>
    </p>
    <p>
      <form action="step1.html" target="_blank">
        <button>Получить информацию о ТМЦ этапа 1</button>
      </form>
    </p>
    <p>
      <form action="step2.html" target="_blank">
        <button>Получить информацию о ТМЦ этапа 2</button>
      </form>
    </p>
    <p>
      <form action="Acc1.html" target="_blank">
        <button>Выполнить проводку Дт20 Кт10</button>
      </form>
    </p>
    <p>
      <form action="Acc2.html" target="_blank">
        <button>Выполнить проводку Дт43 Кт20</button>
      </form>
    </p>
  </body>
</html>
